<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.avengers.ironman_analysis">

    <uses-permission android:name="android.permission.INTERNET" />
    <application
        android:maxAspectRatio="2.4"
        android:resizeableActivity="true"
        tools:targetApi="o">
        <activity android:name="com.avengers.ironman_analysis.ResultActivity" />
        <activity-alias
            android:name="com.avengers.ironman.ShortcutLauncherActivity"
            android:icon="@drawable/ic_launcher"
            android:label="IronMan"
            android:targetActivity="com.avengers.ironman_analysis.ResultActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity-alias>
        <activity android:name=".LargeImageDetailActivity" />
        <meta-data
            android:name="android.max_aspect"
            android:value="2.4" />
        <!--适配华为（huawei）刘海屏-->
        <meta-data
            android:name="android.notch_support"
            android:value="true" />
        <!--适配小米（xiaomi）刘海屏-->
        <meta-data
            android:name="notch.config"
            android:value="portrait|landscape" />
    </application>
</manifest>
